img {
    max-width: 100%;
    max-height: 70vh;
    overflow: auto;
}

img:not(:fullscreen) {
    cursor: zoom-in;
}


img:fullscreen {
    cursor: zoom-out;
}

/* .two-columns img {
    float: left;
}

.two-columns::after {
    content: "";
    clear: both;
    display: table;
    margin: 15px;
} */
.alert {
    position: relative;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}

.alert-danger {
    color: #fff;
    background-color: hsl(354, 70%, 54%);
    border-color: hsl(354, 70%, 54%);
}

.alert-primary {
    color: #000;
    background-color: hsl(48, 70%, 54%);
    border-color: hsl(48, 70%, 54%);
}

.alert svg {
    vertical-align: text-top;
    vertical-align: sub;
    margin-right: .25rem;
}

.container {
    max-width: 700px;
}